* {
	transition: all 1s;
	box-sizing: border-box;
	/*outline: 1px dashed red;*/
}

/*Grid
===========================*/

.container {
	width: 960px;
	margin: 0 auto;
	/*outline: 1px solid green;*/
}

.row{
	margin-bottom: 15px;
}

.row:after {
	display: block;
	content: '.';
	height: 0;
	visibility: hidden;
	clear:both;
}

[class*="span"] {
	float: left;
	display: inline;
	margin-right: 20px;
}

/*[class*="span"]:last-child {
	margin-right: 0;
	float: right;
}*/

.span1 {width: 60;}
.span2 {width: 140;}
.span3 {width: 220;}
.span4 {width: 300;}
.span5 {width: 380;}
.span6 {width: 460;}
.span7 {width: 540;}
.span8 {width: 620;}
.span9 {width: 700;}
.span10 {width: 780;}
.span11 {width: 860;}
.span12 {width: 940;}

.offset1  {margin-left: 60;}
.offset2  {margin-left: 140;}
.offset3  {margin-left: 220;}
.offset4  {margin-left: 300;}
.offset5  {margin-left: 380;}
.offset6  {margin-left: 460;}
.offset7  {margin-left: 540;}
.offset8  {margin-left: 620;}
.offset9  {margin-left: 700;}
.offset10 {margin-left: 780;}
.offset11 {margin-left: 860;}
.offset12 {margin-left: 940;}

/*Main part
=======================*/

body {
	font: 1em 'PT Sans', Arial, Helvetica, sans-serif;
	background: linear-gradient(#efefef, #f6f6f6);
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
	float: left;
	display: inline;
}

/*Second part
-----------------------------------------------*/

.header {
	background-image: url(images/header-background.png);
	background-repeat: repeat;
	border: 0;
}

ul.busines-personal {
	margin: 0;
	padding: 0;
	border: 0;
}

.busines-personal li {
	width: 110px;
	line-height: 46px;
	text-align: center;
	border-left: 1px solid #88878b;
	border-right: 1px solid #88878b;
}

.busines-personal li:hover,
.busines-personal li:active {
	border-left: 1px solid #313034;
	border-right: 1px solid #313034;
	box-shadow: 0 0 40px #2c3e3b inset;
}

.busines-personal a {
	font-size:0.875em;
	font-weight: bold; 
	color: #ffffff;
	text-shadow: 1px 1px 2px black;
}

.login-form {
	float: right;
	display: inline;
	line-height: 46px;
	text-align: center;
}

.login-form input {
	width: 170px;
	height: 32px;
	border-top: 1px solid #171618;
	border-right: 1px solid #171618;
	border-left: 1px solid #171618;
	border-bottom: 1px solid #9c9b9e;
	border-radius: 15px;
	background-color: #323135;
	font-size: 0.875em;
	color: #ffffff;
	text-indent:25px;
	margin-left: 5px;
}

div.login-form input:nth-child(2) {
	width: 150px;
}
/*-----------PayPaul------------------------*/

.second-menu div,
.second-menu nav {
	float: left;
	display: inline;
	text-align: center;
}

.second-menu div{
	margin: 10px 25px 0px 0px;
}

.logo a {
	width: 120px;
	height: 40px;
}

.second-menu nav li {
	line-height: 45px;
	text-align: center;
	border-left: 1px ridge #ebebeb;
}

.second-menu nav li:hover,
.second-menu nav li:active {
	box-shadow: 0 0 10px #d8d8d8 inset;
}

.second-menu nav a {
	padding: 0 30px 0 30px;
	text-align: center;
	font-size: 0.875em;
	font-weight: 700;
	color: #68676a;
	text-shadow: 1px 1px 2px white;
}

.second-menu nav {
	margin-right: 450px;
}

/*------------Content-------------------*/

.content {
	/*background: linear-gradient(#ebe7df, #e8e4da);
	border-bottom: 1px ridge #d8d8d8;*/
	border-top: 1px ridge #d8d8d8;
	background-image: url(images/main-banner_1.png);
	background-repeat: no-repeat;
    background-position: top;
}

.main-background {
	margin: 50px 0 0 0;
}

#main-banner {
	position: absolute;
	left: auto;
	top:300px;

}

h1 {
	font-size: 2.125em;
	color: #0073bf;
	font-weight: 200;
	text-shadow: 1px 1px 2px white;
	margin: 0;
}

h2 {
	font-size: 1.0625em;
	color: #919191;
	font-weight: 300;
	text-shadow: 1px 1px 2px white;
	mar;
	margin: 4px 0 0 0;
}

.check-button{
	margin: 17px 0px 18px 3px;
}

.check-button button {
	display: inline-block;
	width: 300px;
	height: 52px;
	border: 1px solid #d3d1c8;
	border-radius: 3px;
	background: #fcfcfb;
	font-size: 0.825em;
	color: #0073bf;
	font-weight: 400;
	box-shadow: 0 0 2px white;
}

.check-button button span {
	font-size: 1.25em;
	color: #858585;
	text-shadow: 1px 1px 2px white;
}

.sign-up {
    margin: 0px 630px 102px 0;
    text-align: center;
    width: 300px;
    height: 110px;
    border: 1px solid #d3d1c8;
    border-radius: 3px;
    background: #fcfcfb;
    font-size: 0.875em;
    color: #67666a;
    font-weight: 400;
    box-shadow: 0 0 2px white;
    padding: 7px 0 0 0;
    margin-left: 2px;
}

.sign-up button {
	width: 242px;
	height: 40px;
	border: 1px solid #0073bf;
	border-radius: 3px;
	background: linear-gradient(#499aea, #207ce5);
	font-size: 1em;
	color: #ffffff;
	font-weight: 400;
	text-shadow: 1px 1px 2px blue;
	margin: 0 0 0 0;
}

.feature {
	display: inline-block;
	width: 300px;
	height: 215px;
}

.feature-icon1,
.feature-icon2,
.feature-icon3 {
	width: 40px;
	height: 50px;
	margin: 3px 0;
	background-image: url(images/feature-icons.png);
	background-repeat: no-repeat;
} 

.feature-icon1 {
	background-position: 0 5px;
}

.feature-icon2{
	background-position: -320px 5px;
}

.feature-icon3 {
	background-position: -640px 5px;
}

.feature-title {
	font-size: 1.8125em;
	margin: 10px 0px 6px 3px;
	color: #7e7e7e;
	font-weight: 300;
}

.feature-text {
	font-size: 0.825em;
	color:#7e7e7e;
	line-height: 21px;
	margin: 5px 0 10px 3px;
}

.feature a {
	font-size: 0.75em;
	color: #0073bf;
	font-weight: 900;
	margin: 0 0 0 4px;
}

.feature a:hover {
	color: gray;
}

.feature-box {
	border-bottom: 1px solid #d8d8d8;

}

/*------------Footer menu--------*/

.foot-menu-box {
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #9d9d9d;
	margin-bottom: 0;
}
.footer-menu li a {
	margin: 0 35px 0 0;
	font-size: 0.875em;
	color: #605f63;
	font-weight: 700;
}

.footer-menu a{
	width: auto;
	height: auto;
}

/*----------Foot content------------*/

ul.footer-menu {
	padding: 0;
	margin-bottom: 0;
}

.foot-content {
	background-image: url(images/header-background.png);
	background-repeat: repeat;
	height: 270px;
	border-top: 5px solid #4e4e4e;
	margin: 0;
}

.foot-content li {
	display: inline-block;
	margin: 10px 10px 0 0;
	padding: 0;
}

.foot-content ul {
	padding: 0;
}

.foot-content a {
	font-size: 0.75em;
	color: white;
	font-weight:700;
	line-height: 35px;
}

article {
	margin: 62px 0 0 0;
}

article p {
	font-size: 0.6em;
	color: white;
	font-weight:700;
	line-height: 25px;
}